body {
	padding-top: 70px;
}
#jumbo {
	background: #ecf0f1;
	color: #2c3e50;
}
#nav {
	background: #2c3e50;
}
.nav.navbar-nav li a {
   color: white;
 }
 	.nav.navbar-nav li a:hover {
   color: gray;
 }
 a span {
 	color: white;
 }
 .navbar-default .navbar-brand {
 	color: white;
 	color
 }
 	 .navbar-default .navbar-brand:hover {
 	color: gray;
 }
